<h1>Member Information</h1>

 <%= link_to new_path do %>
       <div class="row">
    <div class="col-sm-offset-5 col-sm-2 text-center">
        <span class="btn btn-default btn-lg" role="button">Enter Your Data</span>
        <% end %>
        </div>
        </div>

<% @form.each do | form | %>
<div class="box col-xs-10 col-xs-offset-1">
   <h2><%= form.name %></h2> <br />
    <i><%= form.email %></i><br /><br />
    <p><%= form.message %></p><br />
</div>

<% end %>

